.gallery{
    padding-top: 100px;
    width: 100%;

    column-count: 3;
    column-gap: 1em;
    padding: 100px 20px;
    box-sizing: border-box;
}

.item{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.item img{
    width: 100%;
    height: auto;
}
