body{
    background-color: #563650;
    color: #fff;
    /*overflow: hidden;*/
}

.project-images .pic{
    margin: 5px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
.project-images #pic1{
    width: 100%;
    height: 70%;
}
.project-images #mobile-pic1,
.project-images #mobile-pic2{
    width: 100px;
    height: 160px;
}
.project-images #pic1{
    background-image: url(../assets/images/bloc-jams-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.project-images #mobile-pic1{
    background-image: url(../assets/images/bloc-jams-mobile-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
.project-images #mobile-pic2{
    background-image: url(../assets/images/bloc-jams-mobile-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}
