.blog{
    padding: 100px 50px 10px 50px;
}

.blog-post{
    border-bottom: 1px solid #000;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 20px;
}

.blog-post .title{
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
}

.blog-post .date{
    color: #aeaeae;
    font-size: 1.1em;
    font-style: italic;
}

.blog-post .content{
    line-height: 1.5em;
    font-size: 0.9em;
}

@media screen and (max-width: 500px){
    .blog{
        padding-left: 10px;
        padding-right: 10px;
    }
    .blog-post{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .blog-post .title{
        font-size: 2em;
    }
    .blog-post .content{
        font-size: 1.1em;
    }
}
