html{
    font-family: 'Raleway', sans-serif;
}
/*** remove all scroll bars ***/
::-webkit-scrollbar {
    display: none;
}
body{
    overflow-x: hidden;
}
nav{
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
    position: fixed;
    /** be above content at all times **/
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 350px;
    align-items: center;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

nav ul li{
    /*margin: 10px 0;*/
    font-size: 0.88em;
}
nav ul li a{
    text-decoration: none;
    color: #a3a3a3;
}
nav ul li a:hover{
    color: #000;
}

nav ul li a img{
    width: 40px;
    height: auto;
}
nav ul li a img:hover{
    animation: spin 0.4s forwards;
}

nav .social{
    font-size: 1.5em;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
}
nav .social a{
    color: #000;
}

nav .dropdown-menu{
    display: none;
}

.hero{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.hero .content{
    padding: 0 0 30px 50px;
    width: 30%;
    /*margin: 150px 0 0 15%;*/
}
.hero .content .logo img{
    width: 30px;
    height: auto;
}
.hero .content .intro{
    text-transform: uppercase;
    margin-top: 30px;
}
.hero .content h1{
    font-size: 4.2em;
    margin: 0;
    line-height: 60px;
}
.hero .content h4{
    color: #a3a3a3;
    margin: 10px 0;
    letter-spacing: 3px;
}


.project{
    position: relative;
    height: calc(100vh - 60px);
    width: 100vw;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
}
#first-project{
    background-color: #563650;
    color: #fff;
    background-image: url(../assets/images/bloc-jams_low_opacity.png);
}
#second-project{
    background-color: #2A2E45;
    color: #fff;
    background-image: url(../assets/images/bloc-chat_low_opacity_copy.png);
    background-size: cover;
}
#second-project .project-link{
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
#third-project{

}

.project .content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
    height: calc(100vh - 60px);
}
.project .content h4:nth-child(1){
    text-align: right;
    width: 400px;
    border-bottom: 1px solid #fff;
    align-self: flex-end;
    padding-right: 20px;
    padding-bottom: 10px
}
.project .content .project-link{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    /*box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**placement**/
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.project .content .project-link span{
    color: #000;
    font-size: 2em;
}
.project .project-content{
    text-transform: uppercase;
    width: 75%;
    padding-bottom: 30px;
}
.project .project-name{
    font-size: 4em;
    margin: 5px 0;
}
.project .project-type{
    font-size: 1.5em;
    margin: 0;
}
.project .project-tools{
    font-style: italic;
    margin: 10px 0;
}
.project .project-brief{
    text-transform: none;
    width: 40%;
}


/*** ART homepage ***/
.art{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
}
.art .content{
    padding: 70px 100px 100px 150px;
    width: 30%;
}
.art .content h1{
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 20px;
}
.art .content p{
    padding-left: 20px;
}
.art .link{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /**placement**/
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.art .link span{
    color: #000;
    font-size: 2em;
}


/***** ANIMATIONS ******/
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.fadeInLeft{
    animation-duration: 0.8s;
}
.hvr-underline-from-center:before{
    background: #000;
    height: 1px;
}



/***** responsive ********/

@media screen and (max-width: 500px){
    nav .social{
        display: none;
    }
    nav ul{
        display: none;
    }
    nav .dropdown-menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
    }
    nav .dropdown-menu .logo{
        width: 40px;
        height: auto;
    }
    nav .dropdown .ion-navicon{
        display: block;
        font-size: 2em;
        cursor: pointer;
    }
    nav .dropdown .dropdown-content{
        display:none;
    }
    nav .dropdown:hover .dropdown-content{
        display: inline-block;
        width: 80px;
        float: right;
        background-color: #fff;
        margin-top: 50px;
        margin-left: 20px;
        box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    }
    nav .dropdown .dropdown-content li{
        padding: 5px;
    }
    .hero .content h1{
        font-size: 3em;
        line-height: 1em;
    }
    .project .project-tools{
        display: none;
    }

    .content{
        padding-left: 10px !important;
    }


    .project .project-link{
        width: 60px !important;
        height: 60px !important;
    }
    .project .project-link span{
        font-size: 1em !important;
    }
}
@media screen and (max-width: 350px){
    .hero .content h1{
        font-size: 2em;
    }
}
