html{
    font-family: 'Raleway', sans-serif;
}
body{
    overflow-x: hidden;
}
nav{
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
    position: fixed;
    /** be above content at all times **/
    z-index: 10;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 350px;
    align-items: center;
    margin: 0;
    padding: 10px 10px 10px 20px;
}

nav ul li{
    /*margin: 10px 0;*/
    font-size: 0.88em;
}
nav ul li a{
    text-decoration: none;
    color: #a3a3a3;
}
nav ul li a:hover{
    color: #000;
}

nav ul li a img{
    width: 40px;
    height: auto;
}
.hero{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.hero .content{
    padding: 150px 0 0 15%;
    width: 30%;
    /*margin: 150px 0 0 15%;*/
}
.hero .content .logo img{
    width: 30px;
    height: auto;
}
.hero .content .intro{
    text-transform: uppercase;
    margin-top: 30px;
}
.hero .content h1{
    font-size: 4em;
    margin: 0;
    line-height: 60px;
}
.hero .content h4{
    color: #a3a3a3;
    margin: 10px 0;
    letter-spacing: 3px;
}


.project{
    position: relative;
    height: 100vh;
    width: 100vw;

    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
}
#first-project{
    background-color: #563650;
    color: #fff;
    background-image: url(../assets/images/bloc-jams_low_opacity.png);
}
#second-project{
    background-color: #2A2E45;
    color: #fff;
    background-image: url(../assets/images/bloc-chat_low_opacity_copy.png);
    background-size: auto 100vh;
}
#second-project .project-link{
    box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
}
#third-project{

}

.project .content{
    padding: 70px 100px 100px 150px;
}
.project .content .project-link{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    /*box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);*/
    display: flex;
    justify-content: center;
    align-items: center;
    /**placement**/
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.project .content .project-link span{
    color: #000;
    font-size: 2em;
}
.project .project-content{
    text-transform: uppercase;
    padding: 10px 20px 20px 20px;
    width: 35%;
}
.project .project-name{
    font-size: 3em;
}
.project .project-tools{
    font-style: italic;
}
.project .project-brief{
    text-transform: none;
}


/*** ART homepage ***/
.art{
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    position: relative;
}
.art .content{
    padding: 70px 100px 100px 150px;
    width: 30%;
}
.art .content h1{
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 20px;
}
.art .content p{
    padding-left: 20px;
}
.art .link{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    /**placement**/
    position: absolute;
    bottom: 50px;
    right: 50px;
}
.art .link span{
    color: #000;
    font-size: 2em;
}
